.FullWidth {
  height: 560px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    height: 560px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--center {
      justify-content: center;
    }

    &--end {
      justify-content: flex-start;
    }
  }

  &__content {
    padding-bottom: $base-space * 2.5;
  }

  &__cta {
    padding-top: $base-space * 1.25;
    display: flex;
    justify-content: space-between;
    width: 66%;
  }
}