@import '../config/_variables.scss';
@import '../config/_mixins.scss';

.WhoIsItFor {
  &__content {
    display: flex;
    flex-wrap: wrap;

    @include bp(small) {
      padding: 0;
    }
  }

  &__role {
    display: flex;
    flex-basis: 100%;
    padding: 15px;
    margin: 15px auto 0;

    &:nth-child(n + 3) {
      margin-top: 0;
    }

    @include bp(small) {
      flex-basis: 50%;
      margin-bottom: 25px auto;
    }
  }

  &__icon {
    padding-right: 20px;

    svg {
      width: 70px;
    }
  }

  &__title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  &__subtitle {
    font-size: 1.4rem;
    opacity: 0.6;
  }
}
