@import '../config/_variables.scss';
@import '../config/_mixins.scss';

.Container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  @include bp(xlarge) {
    padding: 0;
  }

  &--large {
    max-width: 1440px;
    margin: 0 auto;
  }
}
