@import '../config/_variables.scss';
@import '../config/_mixins.scss';

.SectionHeader {
  margin-bottom: 50px;
  width: 85%;
  margin: 0 auto;

  @include bp(medium) {
    width: 100%;
  }

  &--center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
