@import '../config/_variables.scss';
@import '../config/_mixins.scss';

.StartupAccelerator {
  &__logos {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    @include bp(mlarge) {
      flex-direction: row;
    }

    a {
      display: block;
      margin: 15px auto;

      @include bp(mlarge) {
        margin: 15px 50px 0;
      }
    }

    img {
      display: block;
      margin: 30px auto;
      max-width: 560px;
      width: 100%;

      @include bp(medium) {
        margin: 50px auto;
      }
    }
  }
}
