.Blog {
  padding-top: $base-space;
  background-color: #FAFAFA;

  &__posts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: $base-space;

    @include bp(small) {
      justify-content: space-between;
    }
  }

  &__post {
    text-align: center;
    margin-bottom: $base-space;
    width: 98%;
    background-color: white;
    border-bottom: 1px solid #e9eff1;
    cursor: pointer;
    @include ease(out, 0.45);

    &:hover {
      box-shadow: 0 1px 16px 0 rgba(#c9cdce, 0.44);
    }

    @include bp(small) {
      width: 48%;
    }

    @include bp(large) {
      width: 31%;
      margin-bottom: $base-space * 2;
    }
  }

  &__media-wrapper {
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__body {
    padding: ($base-space / 1.25);
    font-weight: 400;
    line-height: 1.35;

    @include bp(large) {
      padding: ($base-space * 1.25);
    }
  }

  &__header {
    font-size: font(3);
    margin-bottom: $base-space / 1.25;
  }

  &__date {
    font-size: 1.3rem;
    opacity: 0.5;
  }
}