@import '../config/_variables.scss';
@import '../config/_mixins.scss';

.Companies {
  &__content {
    padding: 0px;
    margin: 25px auto;

    @include bp(medium) {
      margin: 0 auto;
      padding: 45px 75px;
    }

    @include bp(large) {
      padding: 50px 125px;
    }

    img {
      width: 100%;
    }
  }
}
