.Faq {
  &Module {
    width: 94%;
    margin: 0 auto;

    @include bp(medium) {
      width: 100%;
    }
  }

  &Header {
    padding-bottom: 5rem;
  }

  &__content {
    margin-top: $base-space * 2;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    @include bp(medium) {
      flex-direction: row;
    }
  }

  &__answer {
    width: 100%;
    display: inline-block;
    padding-bottom: 1rem;

    @include bp(medium) {
      width: 48%;
    }
  }

  &__header {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
  }
}