.ButtonPrimary {
  display: inline-block;
  background-color: vanhack(pri);
  color: white;
  border-radius: 3px;
  border: 2px solid vanhack(pri);
  line-height: 16px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 12px 24px;
  box-shadow: 0 2px 4px 0 rgba(75,79,84,0.25);
  @include ease(out);

  &--small {
    font-size: 14px;
    padding: 8px 16px;
  }

  &:hover,
  &:focus {
    border-color: lighten(vanhack(pri), 10%);
    background-color: lighten(vanhack(pri), 10%);
  }
}

.ButtonSecondary {
  display: inline-block;
  border: 2px solid vanhack(pri);
  background-color: transparent;
  color: vanhack(pri);
  border-radius: 3px;
  line-height: 16px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 12px 24px;
  box-shadow: 0 2px 4px 0 rgba(75,79,84,0.25);
  @include ease(out);

  &:hover,
  &:focus {
    border-color: lighten(vanhack(pri), 20%);
    color: lighten(vanhack(pri), 20%);
  }
}