body {
  padding-top: 62px;
}

.Full {
  width: 100%;
}

.ThreeQuarters {
  width: 96%;

  @include bp(small) {
    width: 85%
  }

  @include bp(large) {
    width: 75%
  }
}

.Half {
  width: 96%;

  @include bp(small) {
    width: 66%
  }

  @include bp(large) {
    width: 50%
  }
}


.FlexCenter {
  text-align: center;
  align-self: center;
  margin: 0 auto;

  .FullWidth__cta {
    margin: 0 auto;
    justify-content: space-around;
  }
}

.FlexRight {
  text-right: center;
  align-self: right;
  margin-right: 0;
}
