/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

body {
  font-size: $font-size-body + rem;
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

p {
  margin: 0 0 $base-space;
  color: color(black);
  line-height: 1.6;
}

a {
  color: color(black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $base-space;
  line-height: $line-height-headings;
  font-weight: $font-weight-headings;
  font-family: $font-headings;
  color: $headings-color;
}

@each $key, $value in $heading-sizes {

  h#{$key} {
    font-size: $value + rem;
    margin-bottom: $value / $line-height-base + rem;
  }
}

small {
  font-size: 75%;
}

.underline {
  text-decoration: underline;
}

.TextRule {
  border-color: vanhack(pri);
  color: vanhack(pri);
  width: 50px;
  margin-bottom: 30px;
}


.TextRule--center {
  border-color: vanhack(pri);
  color: vanhack(pri);
  width: 50px;
  margin: 0 auto 30px;
}


.TextRule--right {
  border-color: vanhack(pri);
  color: vanhack(pri);
  width: 50px;
  margin: 0 0 30px auto;
}

.Small {
  font-size: font(2);
}

.Medium {
  font-size: font(3);
}

.Large {
  font-size: font(7);
}

.XLarge {
  font-size: font(9);
}